<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Auto Parking</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
   
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700,300" rel="stylesheet" type="text/css">

    </head>
<ol class="breadcrumb">
    <li>
        <a class="hiperlink" href="javascript:void(0)">Componentes</a>
    </li>
    <li class="active">Formulários</li>
</ol>


<div class="row">

    <div class="col-sm-12 form-group">

        <form class="container-fluid formulario-ficha">

            <fieldset class="container-fluid">

                <legend>Formulário ficha</legend>

                <div class="row">

                    <div class="form-group col-sm-12">

                        <label class="control-label">Campo com 12 colunas</label>

                        <input type="text" class="form-control" value="Valor de exemplo">

                    </div>

                </div>

                <div class="row">

                    <div class="form-group col-sm-12 readonly">

                        <label class="control-label">Campo com 12 colunas (somente leitura)</label>

                        <div class="form-control-static">Valor de exemplo</div>

                    </div>

                </div>

                <div class="row">

                    <div class="form-group col-sm-6">

                        <label class="control-label">Campo com 6 colunas</label>

                        <input type="text" class="form-control" value="Valor de exemplo">

                    </div>

                    <div class="form-group col-sm-6">

                        <label class="control-label">Campo com 6 colunas</label>

                        <input type="text" class="form-control" value="Valor de exemplo">

                    </div>

                </div>

                <div class="row">

                    <div class="form-group col-sm-4">

                        <label class="control-label">Campo com 4 colunas</label>

                        <input type="text" class="form-control" value="Valor de exemplo">

                    </div>

                    <div class="form-group col-sm-4">

                        <label class="control-label">Campo com 4 colunas</label>

                        <input type="text" class="form-control" value="Valor de exemplo">

                    </div>

                    <div class="form-group col-sm-4">

                        <label class="control-label">Campo com 4 colunas</label>

                        <input type="text" class="form-control" value="Valor de exemplo">

                    </div>

                </div>

            </fieldset>

        </form>

    </div>

</div>
</body>
</html>