
<div id="tela-login">

    <form action="login.php" method="post">

        <img src="img/parking_digen.png" width="75px">


        <div class="login-form">

            <div class="form-group text-center">

                <div id="detalhes-sistema">
                    AUTO PARKING
                    <i class="fa fa-info-circle" data-toggle="tooltip" title="versão 1.3.0" data-placement="right"
                       data-container="body"></i>
                    <span>Estacione Aqui</span>
                </div>

            </div>


            <div class="form-group">

                <span class="label label-warning">desenvolvimento</span>

            </div>

            <div class="form-group form-group-lg">
                <input type="text" class="form-control" id="email" type="email" name="email" placeholder="E-mail" required/>
            </div>

            <div class="form-group form-group-lg">
                <input type="password" class="form-control" id="password" type="password" name="password" placeholder="Senha" required/>
            </div>

            <div class="text-center">
                <button type="submit" class="btn btn-info">Entrar</button>
            </div>
            <div class="text-center" style="padding: 20px">
                <a  href="./views/formulario.php">Nao possuo cadastro!</a>
            </div>

        </div>

    </form>

</div>